<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js">
    </script>
    <script src="/../scripts/icon.js" crossorigin="anonymous"></script>
    <title>주문번호 [[${order.orid}]]</title>
    <style>
        table {
            border-top: 1px solid lightgray;
            border-collapse: collapse;
        }
        .details {
            text-align: center;
            padding: 20px;
        }
        .inform {
            padding: 5px;
        }
    </style>
</head>
<body>
<header th:replace="/fragment/ShopHeader.html :: shopheader"></header>
<div style="margin:10%;padding-left: 50px;">
    <div>
        <th:block th:replace="/fragment/MyPageMenu.html" :: menu></th:block>
    </div>
    <div style="position: relative;width:70%;margin-left: 200px;">
        <h4 style="margin-top: 60px;">주문/배송 상세</h4>
        <span style="margin-top: 60px;">주문 번호 : [[${order.orid}]] / 주문일 : [[${order.date}]]</span>
        <table style="margin-top: 20px;">
            <tr th:each="detail, index :${details}" class="details">
                <td class="details">
                    <img th:src="${detail.thumbnail}" style="width:50px; height:50px;"/>
                </td>
                <td class="details">
                    <span th:text="${detail.name}"></span>
                    <span th:if="${detail.option.size != null}" th:text="${'(' + detail.option.color + ' ' + detail.option.size + ')'}"></span>
                    <span th:if="${detail.option.size == null}" th:text="${'(' + detail.option.color + ')'}"></span>
                </td>
                <td class="details">
                    <span th:text="${detail.qty}"></span>
                </td>
                <td class="details">
                    <span th:text="${#numbers.formatInteger(detail.price, 3, 'COMMA')}"></span>
                </td>
                <td class="details">
                    <span th:text="${detail.status}"></span>
                </td>
            </tr>
        </table>
        <h5 style="margin-top: 20px;">주문자 정보</h5>
        <table>
            <tr>
                <td class="inform">
                    <span th:text="${account.name}"></span>
                </td>
            </tr>
            <tr>
                <td class="inform">
                    <span th:text="${account.email}"></span>
                </td>
            </tr>
            <tr>
                <td class="inform">
                    <span th:text="${account.phone}"></span>
                </td>
            </tr>
            <tr>
                <td class="inform">
                    <span th:text="${account.code + ' ' + account.addr1 + ' ' + account.addr2}"></span>
                </td>
            </tr>
        </table>
        <h5 style="margin-top: 20px;">배송 정보</h5>
        <table>
            <tr>
                <td class="inform">
                    <span th:text="${order.name}"></span>
                </td>
            </tr>
            <tr>
                <td class="inform">
                    <span th:text="${order.phone}"></span>
                </td>
            </tr>
            <tr>
                <td class="inform">
                    <span th:text="${order.code + ' ' + order.addr1 + ' ' + order.addr2}"></span>
                </td>
            </tr>
        </table>
        <h5 style="margin-top: 20px;">결제 정보</h5>
        <table>
            <tr>
                <td class="inform">결제 수단</td>
                <td class="inform">
                    <span th:text="${order.pay}"></span>
                </td>
            </tr>
            <tr th:if="${order.totalPrice <= 50000}">
                <td class="inform">합계</td>
                <span th:text="${order.totalPrice - 2500}"></span>
            </tr>
            <tr th:if="${order.totalPrice <= 50000}">
                <td class="inform">배송비</td>
                <td class="inform">2500</td>
            </tr>
            <tr>
                <td class="inform">결제 금액</td>
                <td class="inform">
                    <span th:text="${order.totalPrice}"></span>
                </td>
            </tr>
        </table>
    </div>
</div>
<footer th:replace="/fragment/Footer.html :: footer"></footer>
</body>
<script th:inline="javascript">
    $(document).ready (function() {

    });
</script>
</html>