<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js">
    </script>
    <title>게시글 수정하기</title>
</head>
<body>
<div style="width: 50%; margin: 0px auto;">
    <form th:action="@{'/board/update/' + ${board.bid}}" method="post">
        <select name="category" class="form-select" th:value="${board.category}">
            <option value="1" th:selected="${board.category}=='1'">카테고리1</option>
            <option value="2" th:selected="${board.category}=='2'">카테고리2</option>
            <option value="3" th:selected="${board.category}=='3'">카테고리3</option>
            <option value="4" th:selected="${board.category}=='4'">카테고리4</option>
        </select>
        <div>
            제목 : <input type="text" name="title" class="form-control" th:value="${board.title}"> <br>
            작성자 : <span th:text="${board.uid}"></span> <br>
            내용 : <textarea class="form-control" name="content" rows="5" style="height: 500px;" th:text="${board.content}"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-primary">수정</button>
    </form>
</div>
</body>
