<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:fragment="menu">
<div style="position: absolute; left: 50; top: 50;">
    <h4 style="margin-bottom: 30px;">마이페이지</h4>
    <dl>
        <dt style="margin-bottom: 5px;">주문관리</dt>
        <dd style="cursor:pointer;">주문/배송 조회</dd>
    </dl>
    <dl>
        <dt style="margin-bottom: 5px;">게시물 관리</dt>
        <dd style="cursor:pointer;">내가 쓴 게시물</dd>
        <dd style="cursor:pointer;">1:1문의</dd>
    </dl>
    <dl>
        <dt style="margin-bottom: 5px;">정보관리</dt>
        <dd style="cursor:pointer;">회원 정보 변경</dd>
        <dd style="cursor:pointer;">회원 탈퇴</dd>
    </dl>
</div>
</th:block>
</html>