<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js">
    </script>
    <script src="../scripts/icon.js" crossorigin="anonymous"></script>
    <title>마이페이지</title>
    <style>
        .step {
            text-align: center;
            width: 110px;
            height: 100px;
            background: ivory;
            border-radius: 15px;
            cursor: pointer;
        }
        .arrow {
            text-align: center;
            padding: 20px;
        }
    </style>
</head>
<body>
<header th:replace="/fragment/ShopHeader.html :: shopheader"></header>
<div style="margin:10%;padding-left: 50px;">
    <div>
        <th:block th:replace="/fragment/MyPageMenu.html" :: menu></th:block>
    </div>
    <div style="border: 5px solid lightgray;border-radius: 15px;position: relative;padding: 50px;width:70%;margin-left: 200px;">
        <h4>[[${account.uid}]]님 안녕하세요!</h4>
        <h5 style="margin-top: 60px;">주문 처리 현황</h5>
        <table style="margin-top: 20px;">
            <tr>
                <td class="step">
                    <p>결제완료</p>
                    <a>0</a>
                </td>
                <td class="arrow"><i class="fa-solid fa-angle-right"></i></td>
                <td class="step">
                    <p>배송준비중</p>
                    <a>0</a>
                </td>
                <td class="arrow"><i class="fa-solid fa-angle-right"></i></td>
                <td class="step">
                    <p>배송중</p>
                    <a>0</a>
                </td>
                <td class="arrow"><i class="fa-solid fa-angle-right"></i></td>
                <td class="step">
                    <p>배송완료</p>
                    <a>0</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<footer th:replace="/fragment/Footer.html :: footer"></footer>
</body>
</html>