<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js">
    </script>
    <script src="/scripts/icon.js" crossorigin="anonymous"></script>
    <title>Wylie YYj Clothing Store</title>
    <style>
        #productDiv {
            width: 70%;
            margin: 0px auto;
        }
        .pagination {
            width: 40%;
            margin: 0px auto;
        }
    </style>
</head>
<body>
<header th:replace="/fragment/ShopHeader.html :: shopheader"></header>
<div id="productDiv">
    <div th:if="${noResult}">
        <p style="margin: 50px;">검색 결과가 없습니다</p>
    </div>
    <div th:if="${noResult == null}" style="margin-top: 10px;">
        <table th:with="row=${productList.size() / 4}" style="margin: 0px auto;">
            <tr th:each="i:${#numbers.sequence(0,row)}">
                <td th:each="j:${#numbers.sequence(0,3)}" th:if="${(i*4+j) < productList.size()}" th:with="product=${productList[i*4+j]}"
                style="padding:20px;">
                    <img th:src="${product.thumb}" style="width:200px; height: 200px;margin-bottom: 10px;cursor:pointer;"  th:onclick="|location.href='/product/${product.pid}'|"/><br>
                    <span th:text="${product.name}" style="cursor:pointer;" th:onclick="|location.href='/product/${product.pid}'|"></span><span th:if="${product.soldOut.equals('Y')}" class="badge bg-warning" style="margin-left: 5px;color:white;">품절</span><br>
                    <span th:if="${product.discount != 0}" th:text="${#numbers.formatInteger((product.price * (100 - product.discount) / 100), 3, 'COMMA')}" style="font-weight: bold;"></span>
                    <span th:if="${product.discount != 0}" th:text="${product.discount + '%'}" style="color: coral;"></span>
                    <span th:if="${product.discount != 0}" th:text="${#numbers.formatInteger(product.price, 3, 'COMMA')}" style="color: darkgrey; font-size: small; text-decoration-line: line-through"></span>
                    <span th:if="${product.discount == 0}" th:text="${#numbers.formatInteger(product.price, 3, 'COMMA')}" style="font-weight: bold;"></span>
                </td>
            </tr>
        </table>
    </div>
    <div class="pagination" th:if="${category == null && keyword == null && productPage.totalPages != 0}">
        <ul th:class="pagination"
            th:with="start=${T(Math).floor(productPage.number/5)*5 + 1},
                    last=(${start + 4 < productPage.totalPages ? start + 4 : productPage.totalPages})">
            <li class="page-item">
                <a th:href="@{/1}" class="page-link">&laquo;</a>
            </li>
            <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == productPage.number + 1} ? 'active'">
                <a th:class="page-link" th:text="${page}" th:href="@{/{page}(page=${page})}"></a>
            </li>
            <li th:class="page-item">
                <a th:id="tail" th:class="page-link" th:href="@{/{page}(page=${productPage.totalPages})}">&raquo;</a>
            </li>
        </ul>
    </div>
    <div class="pagination" th:if="${category != null && keyword == null && productPage.totalPages != 0}">
        <ul th:class="pagination"
            th:with="start=${T(Math).floor(productPage.number/5)*5 + 1},
                    last=(${start + 4 < productPage.totalPages ? start + 4 : productPage.totalPages})">
            <li class="page-item">
                <a th:href="@{'/category/' + ${category} + '/1'}" class="page-link">&laquo;</a>
            </li>
            <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == productPage.number + 1} ? 'active'">
                <a th:class="page-link" th:text="${page}" th:href="@{'/category/' + ${category} + '/{page}'(page=${page})}"></a>
            </li>
            <li th:class="page-item">
                <a th:id="tail" th:class="page-link" th:href="@{'/category/' + ${category} + '/{page}'(page=${productPage.totalPages})}">&raquo;</a>
            </li>
        </ul>
    </div>
    <div class="pagination" th:if="${keyword != null && category != null && productPage.totalPages != 0}">
        <ul th:class="pagination"
            th:with="start=${T(Math).floor(productPage.number/5)*5 + 1},
                    last=(${start + 4 < productPage.totalPages ? start + 4 : productPage.totalPages})">
            <li class="page-item">
                <a th:href="@{'/search/1?category='+ ${category} + '&keyword=' + ${keyword}}" class="page-link">&laquo;</a>
            </li>
            <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == productPage.number + 1} ? 'active'">
                <a th:class="page-link" th:text="${page}" th:href="@{'/search/{page}?category='+ ${category} + '&keyword=' + ${keyword}(page=${page})}"></a>
            </li>
            <li th:class="page-item">
                <a th:id="tail" th:class="page-link" th:href="@{'/search/{page}?category='+ ${category} + '&keyword=' + ${keyword}(page=${productPage.totalPages})}">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
<footer th:replace="/fragment/Footer.html :: footer"></footer>
</body>
</html>