<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdn.bootpay.co.kr/js/bootpay-3.3.2.min.js" type="application/javascript"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js">
    </script>
    <script src="../scripts/icon.js" crossorigin="anonymous"></script>
    <title>장바구니</title>
    <style>
        #cartDiv {
            width: 60%;
            margin: 0px auto;
        }
        td {
            text-align: center;
        }
    </style>
</head>
<body>
<header th:replace="/fragment/ShopHeader.html :: shopheader"></header>
<div id="cartDiv" th:if="${cartList.size() > 0}">
    <h3 style="text-align: center; margin-top: 30px;">장바구니</h3>
    <form id="cartForm" th:action="@{/cart/order}" method="post">
        <table style="margin-top: 50px; width: 90%;">
            <tr th:each="cart, index :${cartList}" th:id="${cart.cartId}">
                <td>
                    <input type="checkbox" name="selected" th:value="${cart.cartId}" checked>
                    <input type="hidden" th:value="${cart.price}">
                </td>
                <td>
                    <img th:src="${cart.product.thumb}" style="width:100px; height:100px;"/>
                </td>
                <td>
                    <h5 id="productName" th:text="${cart.product.name}"></h5>
                </td>
                <td>
                    <span th:if="${cart.option.size != null}" th:text="${cart.option.color + ' ' + cart.option.size}"></span>
                    <span th:if="${cart.option.size == null}" th:text="${cart.option.color}"></span>
                </td>
                <td th:id="${'idx' + index.index}">
                    <input type="button" class="minus" value="-" style="font-size:large;background-color:transparent;border: none">
                    <span th:text="${cart.quantity}" style="margin:5%;"></span>
                    <input type="button" class="plus" value="+" style="font-size:large;background-color:transparent;border: none">
                </td>
                <td>
                    <h5 th:text="${#numbers.formatInteger(cart.price, 3, 'COMMA')}"></h5>
                </td>
                <td>
                    <input type='button' class='delCart' th:data-value="${cart.cartId}" value="X">
                </td>
            </tr>
        </table>
        <hr>
        <div style="width: 90%;margin-top: 30px;">
            <h5 style="text-align: left;margin-bottom: 20px;">결제 정보</h5>
            <h6 id="price" th:text="${'상품 금액 ' + #numbers.formatInteger(total, 3, 'COMMA')}" style="display: inline;margin-right: 20px;"></h6>
            <h6 style="display: inline;margin-right: 20px;">+</h6>
            <h6 id="shipPrice" th:if="${total < 50000}" th:text="${'배송비 ' + #numbers.formatInteger(2500, 3, 'COMMA')}" style="display: inline;margin-right: 20px;"></h6>
            <h6 id="shipPrice" th:if="${total >= 50000}" th:text="${'배송비 0'}" style="display: inline;margin-right: 20px;"></h6>
            <h6 style="display: inline;margin-right: 20px;">=</h6>
            <h5 id="totalPrice" th:if="${total < 50000}" th:text="${#numbers.formatInteger(total + 2500, 3, 'COMMA')}" style="display: inline"></h5>
            <h5 id="totalPrice" th:if="${total >= 50000}" th:text="${#numbers.formatInteger(total, 3, 'COMMA')}" style="display: inline"></h5>
        </div>
<!--        <div style="width: 90%;margin-top: 30px;">-->
<!--            <h5 style="text-align: left;margin-bottom: 20px;">결제 정보</h5>-->
<!--            <h6 id="price" style="display: inline;margin-right: 20px;">상품 금액 0</h6>-->
<!--            <h6 style="display: inline;margin-right: 20px;">+</h6>-->
<!--            <h6 id="shipPrice" style="display: inline;margin-right: 20px;">배송비 0</h6>-->
<!--            <h6 style="display: inline;margin-right: 20px;">=</h6>-->
<!--            <h5 id="totalPrice" style="display: inline">0</h5>-->
<!--        </div>-->
        <div style="text-align:center;width: 90%;margin-top: 50px;margin-bottom: 50px;">
            <button id="btnPay" type="button" class="btn btn-primary" style="width: 300px;">결제하기</button>
        </div>
<!--        <div style="text-align:center;width: 90%;margin-top: 50px;margin-bottom: 50px;">-->
<!--            <button id="btnPay" type="button" th:if="${total < 50000}" class="btn btn-primary" style="width: 300px;"-->
<!--                    th:text="${#numbers.formatInteger(total + 2500, 3, 'COMMA') + '원&nbsp;&nbsp;&nbsp;결제하기'}"></button>-->
<!--            <button id="btnPay" type="button" th:if="${total >= 50000}" class="btn btn-primary" style="width: 300px;"-->
<!--                    th:text="${#numbers.formatInteger(total, 3, 'COMMA') + '원&nbsp;&nbsp;&nbsp;결제하기'}"></button>-->
<!--        </div>-->
        <input type="hidden" th:if="${total < 50000}" name="totalPrice" th:value="${total + 2500}" />
        <input type="hidden" th:if="${total >= 50000}" name="totalPrice" th:value="${total}" />
    </form>
</div>
<div th:if="${cartList.size == 0}" style="text-align: center; margin-top:5%; margin-bottom: 20%">
    <h3>장바구니</h3>
    <h5 style="margin-top: 30px;">장바구니에 담긴 상품이 없습니다.</h5>
</div>
<footer th:replace="/fragment/Footer.html :: footer"></footer>
</body>
<script th:inline="javascript">
    $(document).ready (function() {
        var stocks = [];
        var i = 0;
        /*<![CDATA[*/
        /*[# th:each="cart : ${cartList}"]*/
        stocks[i] = [[${cart.option.stock}]];
        console.log(stocks[i]);
        i++;
        /*[/]*/
        /*]]>*/

        $('#btnPay').click(function() {
            console.log('total=' + total)
            $("input[name='selected']:not(:checked)").each(function() {
                $(this).closest('tr').remove();
            })
            $("input[name='totalPrice']").val(total);
            $('#cartForm')[0].submit();
        });

        var total = [[${total}]];
        $("input[name='selected']").change(function(){
            if ($(this).is(":checked")) {
                total += parseInt($(this).next('input').val());
            }
            else {
                if (total > 0) {
                    total -= parseInt($(this).next('input').val());
                }
            }
            $('#price').text('상품 금액 ' + total.toString()
                .replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ","));
            if (total >= 50000 || total == 0) {
                $('#shipPrice').text('배송비 0');
                $('#totalPrice').text(total.toString()
                    .replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ","));
            }
            else {
                var totalPrice = total + 2500;
                $('#shipPrice').text('배송비 2,500')
                $('#totalPrice').text(totalPrice.toString()
                    .replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ","));
            }
        });

        $(document).on('click','.delCart', function(){
            var data={
                id : $(this).data("value")
            };
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $.ajax({
                beforeSend: function(xhr){ xhr.setRequestHeader(header,token);},
                url: "/cart/delete",
                data: JSON.stringify(data),
                type:"POST",
                contentType: 'application/json',
                success: function() {
                    location.reload();
                },
                error: function() {
                    alert("해당 상품이 삭제되지 않았습니다.");
                }
            });
        });

        $(document).on('click','.minus', function(){
            var value = parseInt($(this).next('span').text());
            console.log($(this).closest('tr').attr('id'))
            if (value > 1) {
                var data={
                    id : $(this).closest('tr').attr('id')
                };
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                $.ajax({
                    beforeSend: function(xhr){ xhr.setRequestHeader(header,token);},
                    url: "/cart/minus",
                    data: JSON.stringify(data),
                    type:"POST",
                    contentType: 'application/json',
                    success: function() {
                       location.reload();
                    },
                    error: function() {
                        alert("error");
                    }
                });
            }
        });
        $(document).on('click','.plus', function(){
            var value = parseInt($(this).prev('span').text()) + 1;
            var idx = parseInt(($(this).closest('td').attr('id').replace("idx","")));
            console.log($(this).closest('tr').attr('id'))
            if (value <= stocks[idx]) {
                var data={
                    id : $(this).closest('tr').attr('id')
                };
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                $.ajax({
                    beforeSend: function(xhr){ xhr.setRequestHeader(header,token);},
                    url: "/cart/plus",
                    data: JSON.stringify(data),
                    type:"POST",
                    contentType: 'application/json',
                    success: function() {
                       location.reload();
                    },
                    error: function() {
                        alert("error");
                    }
                });
            }
            else {
                alert('해당 옵션의 구매 수량은 최대 ' + stocks[idx] + '개 입니다.');
            }
        });
    });
</script>
</html>